.searchbox__form {
  display: flex;
}

@media screen and (max-width: 540px) {
  .view {
    width: 400px;
  }
  .searchbox__form {
    display: flex;
    flex-direction: column;
  }
  .searchbox__formcontrol {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbox__button {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 540px) and (max-width: 900px) {
  .view {
    width: 600px;
  }
  .searchbox__form {
    display: flex;
    flex-direction: column;
  }

  .searchbox__formcontrol {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 100% !important;
    font-size: 14px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbox__button {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
