/* For Mobile */
@media screen and (max-width: 540px) {
	.view {
		width: 400px;
	}
	.rating__main {
		font-size: 10px;
	}
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 4080px) {
	.view {
		width: 600px;
	}
}
