main {
	min-height: 80vh;
}
body {
}

/* .app {
	display: flex;
	flex-direction: column;
} */
h2,
h3,
h4 {
	padding: 1rem 0;
}
h1 {
	font-size: 1.6rem;
	padding: 0.1 rem;
}

.rating span {
	margin: 0.1rem;
}
.home__banner {
	margin-bottom: -200px;
	object-fit: contain;
	width: 100%;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	/* z-index: -1; */
}
