main {
	min-height: 80vh;
}
body {
}

/* .app {
	display: flex;
	flex-direction: column;
} */
h2,
h3,
h4 {
	padding: 1rem 0;
}
h1 {
	font-size: 1.6rem;
	padding: 0.1 rem;
}

.rating span {
	margin: 0.1rem;
}
