.home__banner {
  margin-bottom: -150px;
  object-fit: contain;
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));

  /* z-index: -1; */
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .view {
    width: 400px;
  }
  .home__banner {
    margin-bottom: -60px;
    object-fit: contain;
    width: 100%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3)
    );
    /* z-index: -1; */
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 1080px) {
  .view {
    width: 600px;
  }
  .home__banner {
    margin-bottom: -100px;
    object-fit: contain;
    width: 100%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3)
    );
    /* z-index: -1; */
  }
}
