.submenu {
  position: absolute;
  top: 120%;
  right: 5%;
  /*   background: rgb(0, 0, 0, 0.8); */
  background: rgb(36, 37, 38);
  height: 90vh;
  width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: none;

  transition: all ease-in-out 0.3s;
}

.submenu.show {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* .submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(0, 0, 0, 0.7);
  position: absolute;
  top: -10px;
  left: 95%;
  transform: translateX(-50%);
} */
